@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Mulish:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fa-bars {
    font-size: 34px;
    cursor: pointer;
    display: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.logo.black-color {
    color: black;
    font-size: 56px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

header nav {
    padding-right: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li:not(:last-child) {
    margin-right: 30px;
}

header nav ul a {
    text-decoration: none;
    color: #000000;
    font-family: 'Commissioner', sans-serif;
    font-size: 17px;
}

.search-card-btns {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
}

.search-card-btns .search-btn {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.search-card-btns .search-btn i {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

}

.search-card-btns .card-btn {
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 15px 2px 6px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 17px;
    cursor: pointer;
}

/* BANNER SECTION */

section#banner {
    background-color: #EDEDED;
    padding: 100px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.banner-left-section {
    margin-top: 100px;
}

.banner-left-section .header-name {
    font-size: 20px;
    font-weight: 500;
    color: #C6866B;
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner-left-section .header-name .cercle {
    background-color: #C6866B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.banner-left-section .main-title {
    font-size: 82px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: 12px 0 18px;
}

.banner-left-section p {
    font-size: 20px;
    color: #636363;
    font-weight: 500;
    margin-bottom: 40px;
}

.banner-right-section {
    margin-top: 100px;
}

.banner-right-section img {
    max-width: 100%;
    height: auto;
}

.banner-left-section .btn-group {
    display: flex;
    align-items: center;
}

.banner-left-section .btn-group button:nth-child(1) {
    color: #C6866B;
    border: 1px solid #C6866B;
    border-radius: 30px;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 30px;
    transition: .4s ease-in-out;
}

.banner-left-section .btn-group button:nth-child(1):hover {
    background-color: #C6866B;
    color: #fff;
}

.banner-left-section .btn-group button:nth-child(1) span {
    position: absolute;
    transform: rotate(320deg);
    display: inline-block;
    margin-left: 15px;
}

.banner-left-section .btn-group button:nth-child(2) {
    border: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.banner-left-section .btn-group button:nth-child(2):hover span {
    transition: .4s ease-in-out;
}

.banner-left-section .btn-group button:nth-child(2):hover span {
    background-color: #000;
    color: #fff;
}

.banner-left-section .btn-group button:nth-child(2) span {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* FOOTER */
footer {
    background-color: #363636;
    padding: 30px 80px 10px;
    height: auto;
}

.footer-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item p.para-1 {
    font-size: 12px;
    color: #fff;
    margin: 20px 0 14px;
    font-weight: 600;
    max-width: 200px;

}

.footer-item .para-2 {
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    margin-top: 24px;
}

.input-group .fa-solid {
    color: #808080;
    cursor: pointer;
    position: absolute;
    transform: translate(-30px, 10px);
}

.input-group input {
    position: relative;
    border: 0;
    outline: none;
    padding: 8px 40px 8px 14px;
    border-radius: 20px;
    border: 1px solid #808080;
}

.input-group input::placeholder {
    font-size: 12px;
    color: #363636;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.footer-nav ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer-nav ul a {
    text-decoration: none;
    color: #808080;
    font-weight: 600;
    color: #AFAFAF;
    display: inline-block;
    margin: 5px 0;
    font-size: 10px;
    letter-spacing: 1px;
}

.footer-nav ul a:hover {
    color: #fff;
}

.footer-nav-item .item-title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
}

.socials-media {
    display: flex;
    flex-direction: column;
}

.socials-media a {
    text-decoration: none;
    display: inline-block;
    color: #808080;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    border: 1px solid #808080;
    padding: 5px 50px;
    margin: 5px 0;
    border-radius: 20px;
    transition: .4s ease-in-out;
    letter-spacing: 2px;
}

.socials-media a:hover {
    color: #fff;
    border-color: #fff;
}

footer .copyright-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .copyright-section .copyright {
    text-transform: uppercase;
    color: #808080;
    font-size: 13px;
    font-weight: 500;

}

footer .copyright-section .payment-methods {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    gap: 40px;
}


@media screen and (max-width:1200px) {
    header {
        padding: 12px 60px;
    }

    header nav ul a {
        font-size: 15px;
    }

    .logo.black-color {
        font-size: 50px;
    }

    .banner-left-section .main-title {
        font-size: 70px;
    }

    section#banner {
        padding: 80px 60px;
    }

}

@media screen and (max-width:1040px) {
    header nav ul li:not(:last-child) {
        margin-right: 20px;
    }

    header nav ul a {
        font-size: 14px;
    }

    .banner-left-section .btn-group button:nth-child(1) {
        padding: 12px 42px;
        font-size: 15px;
    }

    .banner-left-section .btn-group button:nth-child(2) {
        font-size: 15px;
    }

    .banner-left-section p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .banner-left-section .btn-group button:nth-child(2) span {
        width: 46px;
        height: 46px;
    }

    section#banner {
        padding: 80px 60px 30px 60px;
    }

}


@media screen and (max-width:962px) {

    .search-card-btns,
    .banner-right-section {
        display: none;
    }

    header nav {
        display: block;
    }

    /* --------------------------------------- */

    .fa-bars {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    header nav ul {
        position: fixed;
        left: -100%;
        top: 15%;
        flex-direction: column;
        background: white;
        width: 100%;
        text-align: center;
        transition: 0.25s;
        padding: 20px 0;
        border-radius: 10px;
    }

    header nav li {
        padding: 3px 0;
    }

    header nav li:hover {
        background-color: #fffbfb;
        cursor: pointer;
    }

    header nav.active ul {
        left: 0;
    }

    header nav ul li:not(:last-child) {
        margin-right: 0;
    }

    /* --------------------------------------- */

    section#banner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .banner-left-section .btn-group {
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    section#banner {
        padding: 80px 60px 53px 60px;
    }

    footer {
        padding: 40px 60px 20px;
    }

    footer .copyright-section {
        margin-top: 74px;
    }

    footer-item .para-2 {
        color: #808080;
        font-size: 11px;
        font-weight: 400;
        margin: 24px 0;
    }

    .footer-item .para-2 {
        margin: 24px 0;
    }

    .socials-media {
        margin-top: 20px;
    }

}